<hr>
      <footer class="footer bg-dark mt-4">        
        <h2 class="text-center text-danger">Artículos</h2>
        <section class="row">
          <article class="col-12 col-md-4">
            <h3><a href="/Zagreo" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Zagreo</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Hades.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Hades</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Persefone.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Persefone</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Megera.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Megera</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Tanatos.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Tanatos</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Nicte.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Nicte</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Orfeo.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Orfeo</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Euridice.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Euridice</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Skelly.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Hidra Calaverica</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Aquiles.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Aquiles</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Zeus.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Zeus</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Poseidon.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Poseidon</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Atena.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Atena</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Afrodita.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Afrodita</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Artemisa.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Artemisa</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Ares.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Ares</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Dioniso.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Dioniso</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/Melinoe" target="_blank" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Melinoe</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/docs/Demeter.html" target="_blank" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Demeter</a></h3>
          </article>
          <article class="col-12 col-md-4">
            <h3><a href="/Cronos" target="_blank" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Cronos</a></h3>
          </article>
        </section>
        <p class="container text-center py-3">HadesTheWiki © 2024. Todos los derechos reservados.</p>
      </footer>