---
layout: layout-page.njk
title: Articulos de HadesTheWiki
descripction: Articulos de la Wiki
---

<h1 class="text-center">{{ title }}</h1>
<h1 class="text-center text-danger">Articulos</h1>
<section class="row">
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Zagreo.webp" class="card-img-top" alt="Zagreo">
  <div class="card-body">
    <h5 class="card-title">Zagreo
    </h5>
    <p class="card-text">Zagreo, el príncipe del Inframundo, es el hijo de Hades y el protagonista del juego.</p>
    <a href="/Zagreo" class="btn btn-danger">Zagreo</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Hades.webp" class="card-img-top" alt="Hades">
  <div class="card-body">
    <h5 class="card-title">Hades
    </h5>
    <p class="card-text">Hades, el dios olímpico del Inframundo y los Muertos, es el soberano de la Morada de Hades y el padre de Zagreo.</p>
    <a href="/Hades" class="btn btn-danger">Hades</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Persephone_Queen.webp" class="card-img-top" alt="Persefone">
  <div class="card-body">
    <h5 class="card-title">Persefone
    </h5>
    <p class="card-text">Perséfone, la diosa olímpica de los Cambios de Temporada y la Vegetación, es hija de Deméter y de un dios no identificado..</p>
    <a href="/Persefone" class="btn btn-danger">Persefone</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Megera.webp" class="card-img-top" alt="Megera">
  <div class="card-body">
    <h5 class="card-title">Megera
    </h5>
    <p class="card-text">Megera es una de las tres hermanas Erinias, junto con Alecto y Tisífone.</p>
    <a href="/Megera" class="btn btn-danger">Megera</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Tanatos.webp" class="card-img-top" alt="Tanatos">
  <div class="card-body">
    <h5 class="card-title">Tanatos
    </h5>
    <p class="card-text">Tánatos personifica la muerte misma y es uno de los varios hijos de Nicte, siendo el hermano gemelo mayor de Hipnos.</p>
    <a href="/Tanatos" class="btn btn-danger">Tanatos</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Nyx.webp" class="card-img-top" alt="Nicte">
  <div class="card-body">
    <h5 class="card-title">Nicte
    </h5>
    <p class="card-text">Nicte, también conocida como "Nyx" o "Madre Noche", es la personificación de la noche y reside en la Casa de Hades.</p>
    <a href="/Nicte" class="btn btn-danger">Nicte</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Orfeo.webp" class="card-img-top" alt="Orfeo">
  <div class="card-body">
    <h5 class="card-title">Orfeo
    </h5>
    <p class="card-text">Orfeo es un músico legendario, célebre por los mitos y relatos que lo rodean. En su vida, sufrió la pérdida de su esposa y musa, Eurídice, lo que lo llevó a aventurarse en el Inframundo para suplicar su regreso..</p>
    <a href="/Orfeo" class="btn btn-danger">Orfeo</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Euridice.webp" class="card-img-top" alt="Euridice">
  <div class="card-body">
    <h5 class="card-title">Euridice
    </h5>
    <p class="card-text">Eurídice es un personaje importante que reside en los Asfódelos, una región del Inframundo.</p>
    <a href="/Euridice" class="btn btn-danger">Euridice</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/HidraBase.webp" class="card-img-top" alt="HidraCalaverica">
  <div class="card-body">
    <h5 class="card-title">Hidra Calaverica
    </h5>
    <p class="card-text">La Hidra Calavérica es el remanente de la legendaria Hidra de Lerna, una formidable bestia derrotada por el semidiós Heracles como parte de sus doce trabajos.</p>
    <a href="/HidraCalaverica" class="btn btn-danger">Hidea Calaverica</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Aquiles.webp" class="card-img-top" alt="Aquiles">
  <div class="card-body">
    <h5 class="card-title">Aquiles
    </h5>
    <p class="card-text">Aquiles es un héroe semidiós famoso por su papel en la Guerra de Troya, tanto como un guerrero sin igual como líder de su tribu, los Mirmidones.</p>
    <a href="/Aquiles" class="btn btn-danger">Aquiles</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Zeus.webp" class="card-img-top" alt="Zeus">
  <div class="card-body">
    <h5 class="card-title">Zeus
    </h5>
    <p class="card-text">Zeus es el dios olímpico del cielo y el trueno, y el gobernante de los dioses olímpicos.</p>
    <a href="/Zeus" class="btn btn-danger">Zeus</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Poseidon.webp" class="card-img-top" alt="Poseidon">
  <div class="card-body">
    <h5 class="card-title">Poseidon
    </h5>
    <p class="card-text">Poseidón es el dios olímpico del mar y de los caballos, y a veces es referido con el epíteto de "Sacudidor de la Tierra".</p>
    <a href="/Poseidon" class="btn btn-danger">Poseidon</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Atena.webp" class="card-img-top" alt="Atena">
  <div class="card-body">
    <h5 class="card-title">Atena
    </h5>
    <p class="card-text">Atena es la Diosa Olímpica de la sabiduría y la guerra estratégica. Ofrece bendiciones a Zagreo que hacen que sus habilidades desvíen los ataques enemigos.</p>
    <a href="/Atena" class="btn btn-danger">Atena</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Afrodita.webp" class="card-img-top" alt="Afrodita">
  <div class="card-body">
    <h5 class="card-title">Afrodita
    </h5>
    <p class="card-text">Afrodita es la Diosa Olímpica del amor y la belleza. Ella ofrece bendiciones a Zagreo que infligen su Maldición de Estado característica, Debilidad, o que hacen a los enemigos más susceptibles al daño.</p>
    <a href="/Afrodita" class="btn btn-danger">Afrodita</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Artemisa.webp" class="card-img-top" alt="Artemisa">
  <div class="card-body">
    <h5 class="card-title">Artemisa
    </h5>
    <p class="card-text">Artemis, la Diosa Olímpica de la caza y la hermana gemela mayor de Apolo, otorga bendiciones a Zagreo que le dan la oportunidad de infligir daño crítico con sus habilidades.</p>
    <a href="/Artemisa" class="btn btn-danger">Artemisa</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Ares.webp" class="card-img-top" alt="Ares">
  <div class="card-body">
    <h5 class="card-title">Ares
    </h5>
    <p class="card-text">Ares es el Dios olímpico de la guerra. A diferencia de Atena, que se orienta más hacia la estrategia, el dominio de Ares abarca los aspectos físicos, violentos e indómitos de la guerra.</p>
    <a href="/Ares" class="btn btn-danger">Ares</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Dioniso.webp" class="card-img-top" alt="Dioniso">
  <div class="card-body">
    <h5 class="card-title">Dioniso
    </h5>
    <p class="card-text">Dionisio es el Dios olímpico del vino y la locura, y primo de Zagreo.</p>
    <a href="/Dioniso" class="btn btn-danger">Dionisio</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Melinoe.webp" class="card-img-top" alt="Melinoe">
  <div class="card-body">
    <h5 class="card-title">Melinoe
    </h5>
    <p class="card-text">Melinoe, la Princesa del Inframundo, es la hija de Hades y Perséfone, la hermana menor de Zagreo y es la protagonista de Hades II.</p>
    <a href="/Melinoe" class="btn btn-success">Melinoe</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Demeter.webp" class="card-img-top" alt="Demeter">
  <div class="card-body">
    <h5 class="card-title">Demeter
    </h5>
    <p class="card-text">Deméter es la diosa de las estaciones. Es hija de los titanes Hiperión y Tea, y hermana de Hestia, Hera, Helios, Selene y Eos.</p>
    <a href="/Demeter" class="btn btn-danger">Demeter</a>
  </div>
</div>
  </article>
  <article class="col-12 col-md-4">
    <div class="card" style="width: 18rem;">
  <img src="/img/Cronos.webp" class="card-img-top" alt="Cronos">
  <div class="card-body">
    <h5 class="card-title">Cronos
    </h5>
    <p class="card-text">Cronos es el Titán del Tiempo, el padre de Hades, Poseidón y Zeus, y el principal antagonista de Hades II.</p>
    <a href="/Cronos" class="btn btn-success">Cronos</a>
  </div>
</div>
  </article>
</section>